<% layout('Layout/boilerplate')%> <% const pageTitle = 'Edit' %>
<title><%= pageTitle %></title>
<%- include('../partials/common')%>
<div class="row">
  <h1 class="text-center">Edit CampGround</h1>
  <div class="col-6 offset-3">
    <form action="/campground/<%=campg._id%>?_method=PUT" method="post" class="validate-form" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="title"
          required
          value="<%=campg.Title%>"
        />
        <div class="invalid-feedback">Enter Title</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price*</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            value="<%=campg.Price%>"
            aria-label="price"
            aria-describedby="price-label"
            id="price"
            name="price"
            required
          />
          <div class="invalid-feedback">Enter Price</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="Image" class="form-label">Image*</label>
        <input
          class="form-control"
          type="text"
          name="image"
          id="Image"
          required
          value="<%=campg.image%>"
        />
        <div class="invalid-feedback">Enter Image URL</div>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description*</label>
        <input
          class="form-control"
          type="text"
          name="description"
          id="desc"
          required
          value="<%=campg.Description%>"
        />
        <div class="invalid-feedback">Enter Description</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          class="form-control"
          type="text"
          name="location"
          id="location"
          required
          value="<%=campg.Location%>"
        />
        <div class="invalid-feedback">Enter Location</div>
      </div>
      <button class="btn btn-primary update">Update</button>
    </form>
  </div>
</div>
<script>
  (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validate-form')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
