<% layout('Layout/boilerplate')%>
<h1>Campground : <%= camp.Title%></h1>
<h2>Location : <%= camp.Location%></h2>
<img
  style="width: 300px; border-radius: 10px"
  src="<%=camp.image%>"
  alt="failed"
/>
<p><%=camp.Description%></p>
<p>$<%=camp.Price%></p>
<a href="/campground/<%=camp._id%>/edit"
  ><button class="btn btn-primary mb-3">Edit</button></a
>
<form action="/campground/<%=camp._id%>?_method=DELETE" method="post">
  <button class="btn btn-danger">Delete</button>
</form>
<a href="/campground">back to show page</a>
